* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/Picture/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 400vh;
    max-height: 400vh;
}

.Encabezado {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semitransparente para que resalte el texto */
    color: white;
    border-bottom: solid 3px white;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0px 5px 15px black;
}

.Nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* Quita los círculos de la lista */
}
li{
    transition: 0.7s;
}

a {
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    color: white;
    text-shadow: 5px 10px 5px black;
    font-size: 20px;
}

li:hover{
    transform: scale(1.2);
}

.Portafolio{
    margin-top: 10px;
    border-radius: 10px 20px 40px;
    border: solid 4px white;
    height: auto;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-1 {
    padding: 10px 10px;
    height: 400px;
    border-radius: 50px 30px 20px 50px;
}
.text_1{
    gap: 200px;
    font-size: 20px;
    color: white;
    text-shadow: black 5px 2px 4px;
    cursor: pointer;
    padding: 15px;
    /* <--- ESTO separa el contenido de los bordes blancos */
    gap: 15px;
    text-align: center;
}

.text{
    display: flex;
    flex-direction: column; /* Alinea imagen y párrafos hacia abajo */
    align-items: center;    /* CENTRA horizontalmente todo el contenido */
    text-align: center;     /* Centra el texto dentro de los párrafos */
    border: solid 2px white;
    border-radius: 20px;
    width: 15%;
    height: 5%;
    box-shadow: 10px 50px 10px white;
    animation: text;
    /* Nombre | Duración | Dirección | Repetición */
    animation: text 3s ease-in-out infinite alternate;
    
    /* Suaviza cambios manuales (ej. si cambias el color con JS o hover) */
    transition: all 0.3s ease;
}

@keyframes text {
    0%{
        box-shadow: 10px 20px 10px black;
    }
    50%{
        box-shadow: 10px 20px 10px white;
    }
    100%{
        box-shadow: 10px 20px 10px rgb(163, 26, 26);
    }
}