* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* Usando la imagen de pasto que mencionaste */
    background-image: url(/Picture/1.avif);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.Encabezado {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semitransparente para que resalte el texto */
    color: white;
    border-bottom: solid 3px white;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0px 5px 15px black;
}

.Nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* Quita los círculos de la lista */
}

h1 {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 1s;
    text-shadow: black 1px 2px 2px;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
    display: inline-block;
    text-shadow: black 1px 2px 2px;
}

a:hover {
    transform: scale(1.2);
}

h1:hover {
    transform: scale(1.2);
}

.Description {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    border: solid green;
    box-shadow: green 1px 20px 9px;
    flex-direction: column;
}

.text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow: black 1px 2px 2px;
    order: 1;
}

.text_2 {
    order: 2;
    display: flex;
    border: solid 5px green;
    border-radius: 10px 10px;
    box-shadow: white 19px 10px 19px;
    font-size: 1.9rem;
    color: white;
    text-shadow: black 2px 2px 4px;
    text-align: center;
    text-transform: uppercase;
    /* Para que resalte más como llamado a la acción */
    margin-top: 50px;
}

section {
    display: flex;
    flex-direction: row;
    /* Esto las pone una al lado de la otra */
    justify-content: center;
    /* Las centra en la pantalla */
    gap: 20px;
    /* Espacio entre las fotos */
    padding: 20px;
    height: 300px;
    width: 100%;
    border: solid green;
    box-shadow: green 1px 20px 9px;
    border: solid 3px white;
    border-radius: 10px 10px;
}

.pet {
    height: 300px;
    width: 95%;
    border-radius: 10px 10px;
    box-shadow: black 2px 5px 5px;
    align-items: center;
    display: flex;
    transition: 0.5s;
    margin-left: 5px;
}

.pet:hover{
    transform: scale(1.1);
}

section {
    height: 100%;
    width: 100%;
}

.Encabezado_pets {
    height: 100px;
    width: 100%;
}

.Encabezado_pets p {
    text-align: center;
    margin-top: 10px;
    font-size: 100px;
    color: white;
    text-shadow: black 5px 2px 4px;

}

.pet_1 {
    margin-right: auto;
    border: solid 3px white;
    width: 33%;
    height: 100%;
    cursor: pointer;

}

.pet_1 p {
    display: flex;
    gap: 200px;
    font-size: 20px;
    color: white;
    text-shadow: black 5px 2px 4px;
    cursor: pointer;
    padding: 15px;
    /* <--- ESTO separa el contenido de los bordes blancos */
    gap: 15px;
}

.pet_2 {
    margin-top: auto;
    height: 260px;
    border: solid 3px white;
    width: 33%;
    height: 100%;
    cursor: pointer;
}

.pet_2 p {
    cursor: pointer;
    display: flex;
    gap: 200px;
    font-size: 20px;
    color: white;
    text-shadow: black 5px 2px 4px;
    padding: 15px;
    /* <--- ESTO separa el contenido de los bordes blancos */
    gap: 15px;
}

.pet_3 {
    cursor: pointer;
    margin-left: auto;
    border: solid 3px white;
    width: 33%;
    height: 100%;
}

.pet_3 p {
    display: flex;
    gap: 200px;
    font-size: 20px;
    color: white;
    text-shadow: black 5px 2px 4px;
    cursor: pointer;
    padding: 15px;
    /* <--- ESTO separa el contenido de los bordes blancos */
    gap: 15px;
}