<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Assets/Icons/house.svg" type="image/x-icon">
    <link rel="stylesheet" href="/Assets/Style/Formulario.css">
    <title>Forms site</title>
</head>
<body>
    <form>
        <div class="filtro">
            <div class="formulario">
                <h1>Bienvenido a nuestro sistema</h1>
                <img src="" alt="foto" class="users">
                <p>Nombre completo</p>
                <input type="text" class="Txt_users" placeholder="Digite su nombre completo">
                <p>Correo Electronico</p>
                <input type="email" class="Txt_users" placeholder="Digite su correo electronico">
                <p>Descripcion de la mascota</p>
                <textarea name="" id=""></textarea>
                <button class="Btn_enviar" id="Enviar">Enviar formulario</button>
            </div>
        </div>
    </form>
</body>
</html>