<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/Styles.css">
    <title>Store Pet</title>
</head>
<body>
    <header class="Encabezado">
        <nav class="Nav">
            <ul>
                <li>
                    <h1>Store Pet</h1>
                </li>
                <li>
                    <a href="/Views/Pet.html">Pet</a>
                </li>
                <li>
                    <a href="/Views/">
                        Sales Forms
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="Description">
        <p class="text">
            Esta es una Tienda de mascota , en la cual nos encargamos de tener los perros de acuerdo al criterio de nuestros usuarios, que se encuentren en buen estado 
            cumplimos con todo los requisitos y protocolos de seguridad que dice el ministro de ambiente, tambiuen contamos con cocentrados, juguetes para tu futura mascota, cojines para tu canino y tambien contamos con baño en caso de que quieras que tu mascota la bañemos y un servicio de vacunas .

        </p>
        <h1 class="text_2">QUE ESPERAS VEN POR TU MASCOTA !!</h1>
    </div>

</body>
</html>