<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/Index.css">
    <link rel="shortcut icon" href="/Icons/house.svg" type="image/x-icon">
    <title>Portafolio</title>
</head>

<body>
    <header class="Encabezado">
        <nav class="Nav">
            <ul>
                <li>
                    <a href="/Views/Index.html">FantasyGo</a>
                </li>
                <li>
                    <a href="https://github.com/KevinGo24">Git Hub</a>
                </li>
                <li>
                    <a href="/Views/Pets.html">Pet</a>
                </li>
                <li>
                    <a href="/Views/">
                        Sales Forms
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="Portafolio">
        <div class="conatiner-foto">
            <div class="text">
                <img src="/Picture/1.jpeg" class="foto-1">

                <p class="text_1">
                    I'm kevin and from barranquilla city and yeras old 23, and studies programing sotfware, analitic and
                    developer sotfware and attention and service clientes, and the studies SENA i'm a future System
                    enginer,developer web and with frameworks as React.js, Angulkar.js and C# .net core framewors
                </p>
                <p class="text_1">

                    🔭 I’m currently working on ... Python repository
                </p>
                <p class="text_1">
                    🌱 I’m currently learning ... Python & English

                </p>
                <p class="text_1">

                    👯 I’m looking to collaborate on ... Store
                </p>
                <p class="text_1">

                    🤔 I’m looking for help with ...AI, Pytohn
                </p>
                <p class="text_1">

                    💬 Ask me about ...Design
                </p>
                <p class="text_1">

                    📫 How to reach me: ...3**********
                </p>
                <p class="text_1">

                    😄 Pronouns: ...he/him
                </p>
                <p class="text_1">

                    ⚡ Fun fact: ...autism level 1 -
                </p>
            </div>

        </div>
    </section>
</body>

</html>