<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Style/Index.css">
    <link rel="shortcut icon" href="/Assets/Icons/house.svg" type="image/x-icon">
    <title>Portafolio</title>
</head>

<body>
    <!--Script para mostar div invisible -->
    <script src="/Assets/js/index.js"></script>
    <!------------------------------------->
    <header class="Encabezado">
        <nav class="Nav">
            <ul>
                <li>
                    <a href="/Views/Index.html">FantasyGo</a>
                </li>
                <li>
                    <a href="https://github.com/KevinGo24">Git Hub</a>
                </li>
                <li>
                    <a href="/Views/Pets.html">Pet</a>
                </li>
                <li>
                    <a id="Sales-form">
                        Sales Forms
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="master">
        <section class="Portafolio">
            <div class="conatiner-foto">
                <img src="/Assets/Picture/1.jpeg">
                <div class="text">
                    <p class="text_1">
                        I'm kevin and from barranquilla city and yeras old 23, and studies programing sotfware, analitic and
                        developer sotfware and attention and service clientes, and the studies SENA i'm a future System
                        enginer,developer web and with frameworks as React.js, Angulkar.js and C# .net core framewors
                    </p>
                    <p class="text_1">
    
                        🔭 I’m currently working on ... Python repository
                    </p>
                    <p class="text_1">
                        🌱 I’m currently learning ... Python & English
    
                    </p>
                    <p class="text_1">
    
                        👯 I’m looking to collaborate on ... Store
                    </p>
                    <p class="text_1">
    
                        🤔 I’m looking for help with ...AI, Pytohn
                    </p>
                    <p class="text_1">
    
                        💬 Ask me about ...Design
                    </p>
                    <p class="text_1">
    
                        📫 How to reach me: ...3**********
                    </p>
                    <p class="text_1">
    
                        😄 Pronouns: ...he/him
                    </p>
                    <p class="text_1">
    
                        ⚡ Fun fact: ...autism level 1 -
                    </p>
                </div>
            </div>
        </section>
        <div class="container-buttons">
            <!--proyect -> boton encragado de mostar el div de fotos que se mantiene oculto-->
            <button class="proyect-photo" id="proyect" onclick="ocultar()">Fotos de mis Proyectos</button>
            <button class="proyect-photo" id="social">Redes Sociales</button>
        </div>
        <footer class="pie-pagina">
        <p>Kevin Gonzalez visbal</p>
            <p>2026</p>
        </footer>
        <!--Div padre no permite al usuario controlar el contenido primario-->
        <div class="padre-oculto" id="div-invisible">
            <!--Div hijo nos muestra el contenido que se encuentra como imagenes o formularios-->
            <div class="container-oculto" >
                <h2>foto 1</h2>
                <img src="/Assets/Picture/fondo.jpg" alt="" class="photo">
                <h2>foto 2</h2>
                <img src="/Assets/Picture/fondo.jpg" alt="" class="photo">
                <h2>foto 3</h2>
                <img src="/Assets/Picture/fondo.jpg" alt="" class="photo">
                <!--button de close para cerrar el div mostrado -->
                <button class="close" type="button" id="close" onclick="cerrar()">cerrar</button>
            </div>
        </div>
    </main>
</body>

</html>