<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/Style/Styles.css">
    <title>Store Pet</title>
</head>

<body>
    <header class="Encabezado">
        <nav class="Nav">
            <ul>
                <li>
                    <a href="/Views/Index.html">Store Pet</a>
                </li>
                <li>
                    <a href="/Views/Pet.html">Pet</a>
                </li>
                <li>
                    <a href="/Views/forms.html">
                        Sales Forms
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="Description">
        <p class="text">
            Esta es una Tienda de mascota , en la cual nos encargamos de tener los perros de acuerdo al criterio de
            nuestros usuarios, que se encuentren en buen estado
            cumplimos con todo los requisitos y protocolos de seguridad que dice el ministro de ambiente, tambiuen
            contamos con cocentrados, juguetes para tu futura mascota, cojines para tu canino y tambien contamos con
            baño en caso de que quieras que tu mascota la bañemos y un servicio de vacunas .
        </p>
        <h1 class="text_2">QUE ESPERAS VEN POR TU MASCOTA !!</h1>
    </div>
    <div class="Encabezado_pets">
        <p class="text_div">
            Nuestsras Mascotas
        </p>
    </div>
    <section class="section_pets">

        <div class="pet_1">
            <img src="/Assets/Picture/pet_1.jpg" alt="" class="pet">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ut explicabo incidunt hic facilis est, inventore repudiandae adipisci nulla praesentium reprehenderit unde voluptas sed eaque delectus soluta nisi? Sequi, minus.
            </p>
        </div>
        <div class="pet_2">
            <img src="/Assets/Picture/pet_2.jpg" alt="" class="pet">
               <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ut explicabo incidunt hic facilis est, inventore repudiandae adipisci nulla praesentium reprehenderit unde voluptas sed eaque delectus soluta nisi? Sequi, minus.
            </p>
        </div>
        <div class="pet_3">
            <img src="/Assets/Picture/pet_3.jpg" alt="" class="pet">
               <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ut explicabo incidunt hic facilis est, inventore repudiandae adipisci nulla praesentium reprehenderit unde voluptas sed eaque delectus soluta nisi? Sequi, minus.
            </p>
        </div>
    </section>
</body>

</html>